## Dynamic signal timing for AADT data to avoid traffic congestion

In [1]:
# Import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Read the AADT dataset
df = pd.read_csv('D:\\Study\\DataScience\\Data\\MachineLearningData\\TrafficData\\aadt.csv')

In [76]:
# Create a function to convert 'location' column value -- POINT(-78.594915 42.728258) into 'lat' 'long' columns
# Here we are using simple string manipulations in Python to extracl lat long values
# We can also use Regex to extract the same
def lat_long(col):
    string = col.split('POINT(')[-1]
    string = string.split(')')[0]
    string = string.split(' ')
    lat = float(string[1])
    long = float(string[0])
    return lat, long

In [94]:
# Create lat long columns into the dataframe using lat_long function
df['lat'], df['long'] = zip(*df['location'].map(lat_long))

In [95]:
df.head()

,local_id,county,municipality,on,from,to,approach,at,direction,aadt_year,aadt,aadt_cars,aadt_trucks,location,lat,long
0,530233,ERIE,AURORA,OLEAN RD,START OLAP RT 400 EXPWY,END OLAP RT 400 EWPWY {CONFLICTS W/OTHER 1090},BETWEEN,NaN,2-WAY,1981-01-01T00:00:00,6550,NaN,NaN,POINT(-78.594915 42.728258),42.728258,-78.594915
1,530064,ERIE,WALES,OLEAN RD,WARNER HILL RD,START OLAP RT 400 EXPWY,BETWEEN,NaN,2-WAY,2001-01-01T00:00:00,12200,NaN,NaN,POINT(-78.57771635 42.70977364),42.709774,-78.577716
2,533061,ERIE,BUFFALO,I-190 @ SOUTH OGDEN ST,NaN,NaN,NaN,GRISWOLD ST TO I-190 SB (ON),RAMP,2009-01-01T00:00:00,6267,5693.0,573.0,POINT(-78.799448 42.875776),42.875776,-78.799448
3,530150,ERIE,BUFFALO,KENSINGTON EXPWY,JEFFERSON AV,BEST ST,BETWEEN,NaN,2-WAY,1977-01-01T00:00:00,47000,NaN,NaN,POINT(-78.84958774 42.89957233),42.899572,-78.849588
4,534497,ERIE,AMHERST,KENSINGTON AVE,CHKTG/AMHERST TOWN LN,RT 240 HARLEM RD,BETWEEN,NaN,2-WAY,1991-01-01T00:00:00,9700,NaN,NaN,POINT(-78.78539912 42.9494342),42.949434,-78.785399