In [8]:
# Import default packeges

import numpy as np
import pandas as pd

In [9]:
# Read the dataset

df = pd.read_csv('D:/Study/DataScience/Flask/Regression.csv')

In [4]:
df.head()

   R&D_Spend  Administration  Marketing_Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [10]:
# Display the statistics of the data

df.describe()

           R&D_Spend  Administration  Marketing_Spend         Profit
count      21.000000       21.000000        21.000000      21.000000
mean   117073.193810   125810.622857    312816.094286  149605.103333
std     27209.658583    21018.257602     68113.219172   23756.750127
min     76253.860000    91391.770000    229160.950000  118474.030000
25%     93863.750000   110594.110000    261776.230000  129917.040000
50%    119943.240000   122616.840000    294919.570000  146121.950000
75%    134615.460000   145530.060000    362861.360000  156991.120000
max    165349.200000   156547.420000    471784.100000  192261.830000

In [15]:
# Define feature and target variables and convert to numpy array

X = df.iloc[:,0:3].values
y = df.iloc[:,-1].values

In [16]:
# Split the data into training and testing datasets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=0)

In [22]:
# Create linear regression model

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
# Calculate the MSE matrix

from sklearn.metrics import mean_squared_error

y_pred = lr.predict(X_test)

mse = mean_squared_error(y_test, y_pred)

rmse = np.sqrt(mse)

print('The Root Mean Squared Error is: {0:.2f}'.format(rmse))

The Root Mean Squared Error is: 9361.42

In [49]:
# Save the model using sklearn joblib

from sklearn.externals import joblib

joblib.dump(lr, open('D:/Study/DataScience/Flask/models/regression_model.pkl','wb'))

In [50]:
from flask import Flask, render_template, request, jsonify

template_dir  = 'D:/Study/DataScience/Flask/templates'
app = Flask(__name__, template_folder=template_dir, static_url_path='/static')
@app.route('/', methods=['GET', 'POST'])

def main():
    return render_template('index.html')

if __name__ == '__main__':
    app.run(port=9000)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:9000/ (Press CTRL+C to quit)
[2020-02-15 18:12:52,646] ERROR in app: Exception on / [GET]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1820, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1949, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 1935, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-50-5771c232019d>", line 8, in main
    return render_template('index.html')
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\templating.py", line 140, in render_template
    ctx.app,
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\templating.py", line 120, in _render
    rv = template.render(context)
  File "C:\ProgramData\Anaconda3\lib\site-packages\jinja2\asyncsupport.py", line 76, in render
    return original_render(self, *args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\jinja2\environment.py", line 1008, in render
    return self.environment.handle_exception(exc_info, True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\jinja2\environment.py", line 780, in handle_exception
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\jinja2\_compat.py", line 37, in reraise
    raise value.with_traceback(tb)
  File "D:/Study/DataScience/Flask/templates\index.html", line 19, in top-level template code
    <form action="{{ url_for('predict')}}"method="post">
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\helpers.py", line 370, in url_for
    return appctx.app.handle_url_build_error(error, endpoint, values)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\app.py", line 2215, in handle_url_build_error
    reraise(exc_type, exc_value, tb)
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\ProgramData\Anaconda3\lib\site-packages\flask\helpers.py", line 358, in url_for
    endpoint, values, method=method, force_external=external
  File "C:\ProgramData\Anaconda3\lib\site-packages\werkzeug\routing.py", line 2020, in build
    raise BuildError(endpoint, values, method, self)
werkzeug.routing.BuildError: Could not build url for endpoint 'predict'. Did you mean 'static' instead?
127.0.0.1 - - [15/Feb/2020 18:12:52] "GET / HTTP/1.1" 500 -